.App {
  background-image: url("https://images.pexels.com/photos/1841125/pexels-photo-1841125.jpeg?cs=srgb&dl=pexels-lina-kivaka-1841125.jpg&fm=jpg");
  display: flex;
  justify-content: center;
  /* position: fixed; */
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
}

.mainTheme  {
  color: #e95d1d;
  text-decoration: none;
  font-weight: bold;
}
